@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: 'Bebas Neue';
  src: url('./fonts/BebasNeue-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'IBM Plex Sans';
  src: url('./fonts/IBMPlexSans-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}
.gradient-vertical {
    background: linear-gradient(180deg, #12141d 0%, #12151f 100%);
  }

  .gradient-gray {
    background: linear-gradient(270deg, #37363a 0%, #353637 100%);
  }

  .gradient-blue {
    background: linear-gradient(180deg, #232839 0%, #12141d 100%);
  }

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-light-100: var(--light-100);
  --color-light-200: var(--light-200);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --font-bebas-neue: "Bebas Neue";
  --font-ibm-plex-sans: "IBM Plex Sans", sans-serif;
  --text-dark-100: var(--dark-100);
  --color-primary: oklch(85.23% 0.0586 71.99);
  --color-primary-admin: oklch(38.00% 0.1411 268.92);

  /* Green */
  --color-green: oklch(51.00% 0.1218 156.56);
  --color-green-100: oklch(97.88% 0.0221 160.24);
  --color-green-400: oklch(54.15% 0.0651 159.96);
  --color-green-500: oklch(71.69% 0.1678 153.98);
  --color-green-800: oklch(51.00% 0.1218 156.56);

  /* Red */
  --color-red: oklch(62.92% 0.2154 21.39);
  --color-red-400: oklch(70.20% 0.1641 21.78);
  --color-red-500: oklch(67.24% 0.1581 46.94);
  --color-red-800: oklch(62.92% 0.2154 21.39);

  /* Blue */
  --color-blue-100: oklch(62.48% 0.1836 251.38);

  /* Light */
  --color-light-100: oklch(90.88% 0.0438 271.34);
  --color-light-200: oklch(87.58% 0.0587 73.67);
  --color-light-300: oklch(98.11% 0.0093 286.23);
  --color-light-400: oklch(95.51% 0.0043 197.09);
  --color-light-500: oklch(64.34% 0.0000 89.88);
  --color-light-600: oklch(98.46% 0.0017 247.84);
  --color-light-700: oklch(92.88% 0.0126 255.51);
  --color-light-800: oklch(98.42% 0.0034 247.86);

  /* Dark */
  --color-dark-100: oklch(21.25% 0.0109 260.67);
  --color-dark-200: oklch(34.51% 0.0435 293.15);
  --color-dark-300: oklch(27.99% 0.0323 271.54);
  --color-dark-400: oklch(27.95% 0.0368 260.03);
  --color-dark-500: oklch(20.77% 0.0398 265.75);
  --color-dark-600: oklch(36.31% 0.0568 271.36);
  --color-dark-700: oklch(43.34% 0.0544 271.89);
  --color-dark-800: oklch(25.46% 0.0272 272.01);

  /* Gray */
  --color-gray-100: oklch(86.90% 0.0198 252.89);
  --background-image-pattern: url('/images/pattern.webp');

}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);

}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

}

@layer components {
  .form-btn {
    @apply bg-primary text-dark-100 hover:bg-primary inline-flex min-h-14 w-full items-center justify-center rounded-md px-6 py-2 font-bold text-base   ;
  }

  .form-input {
    @apply w-full min-h-12 text-base font-bold placeholder:font-normal text-white placeholder:text-light-100 focus-visible:ring-0 focus-visible:shadow-none bg-dark-300   ;
  }

  /* Book Card */
  .book-title {
    @apply mt-2 line-clamp-1 text-base font-semibold text-white ;
  }

  .book-genre {
    @apply mt-1 line-clamp-1 text-sm italic text-light-100 ;
  }

  .book-loaned {
    @apply flex flex-row items-center gap-1 ;
  }

  .book-btn {
    @apply bg-dark-600 mt-3 min-h-14 w-full font-bebas-neue text-base text-primary;
  }

  /* Borrowed Book */
  .borrowed-book {
    @apply p-5 rounded-2xl  w-full relative;
  }

  .borrowed-book_cover {
    @apply py-4 lg:px-16 px-10 flex justify-center items-center w-full rounded-lg;
  }

  /* Book Cover */
  .book-cover_extra_small {
    @apply w-[28.95px] h-10;
  }

  .book-cover_small {
    @apply w-13.75 h-19;
  }

  .book-cover_medium {
    @apply w-36 h-49.75;
  }

  .book-cover_regular {
    @apply  w-28.5  h-42.25;
  }

  .book-cover_wide {
    @apply  w-[256px]  h-88.5;
  }

  /* Book List */
  .book-list {
    @apply mt-10 flex flex-wrap gap-5
     ;
  }

  /* Book Overview */
  .book-overview {
    @apply flex flex-col-reverse items-center gap-12 sm:gap-32 xl:flex-row xl:gap-8;
  }

  .book-info {
    @apply mt-7 flex flex-row flex-wrap gap-4 text-xl text-light-100;
  }

  .book-copies {
    @apply flex flex-row flex-wrap gap-4 mt-1;
  }

  .book-description {
    @apply mt-2 text-justify text-xl text-light-100;
  }

  .book-overview_btn {
    @apply mt-4 min-h-14 w-fit bg-primary text-dark-100 hover:bg-primary/90 max-md:w-full   ;
  }

  /* File Upload */
  .upload-btn {
    @apply flex min-h-14 w-full items-center justify-center gap-1.5 rounded-md;
  }

  .upload-filename {
    @apply mt-1 text-center text-xs;
  }

  .progress {
    @apply rounded-full bg-green-800 p-0.5 text-center font-bebas-neue text-[8px] font-bold leading-none text-light-100;
  }

  /* Search */
  .search {
    @apply relative mt-10 flex min-h-14 w-full items-center rounded-xl bg-dark-300 px-4;
  }

  .search-input {
    @apply w-full border-none font-bold placeholder:font-normal text-white placeholder:text-light-100 focus-visible:ring-0 focus-visible:shadow-none   ;
  }

  /* Book Receipt */
  .book-receipt_admin-btn {
    @apply bg-light-300 rounded-md text-primary-admin font-semibold hover:bg-light-300/80   ;
  }

  /* Book Ticket */
  .book-ticket {
    @apply relative mt-10 hidden w-136 overflow-hidden bg-dark-300 py-8;
  }

  .book-ticket-circles {
    @apply absolute inset-x-0 -bottom-6 flex flex-row gap-1.5;
  }

  /* Not Found */
  .not-found {
    @apply flex justify-center items-center flex-col text-center w-full;
  }

  .not-found-h4 {
    @apply text-white mt-6 font-semibold text-2xl;
  }

  .not-found-p {
    @apply text-light-100 w-90 mt-1;
  }

  .not-found-btn {
    @apply bg-primary font-bebas-neue min-w-90 mt-6 text-dark-100 text-xl hover:bg-primary/90 min-h-12   ;
  }

  /* Pagination */
  .pagination {
    @apply flex flex-row justify-end gap-3;
  }

  .pagination-btn_light {
    @apply bg-light-300 text-dark-300 hover:bg-light-300/70   ;
  }

  .pagination-btn_dark {
    @apply bg-dark-300 hover:bg-dark-100   ;
  }

  .pagination-p {
    @apply text-sm inline-flex items-center font-semibold px-4 py-1.5 rounded-md text-center;
  }

  /* Sort */
  .select-trigger {
    @apply w-40 h-10 px-4 bg-dark-300 text-light-100 border-dark-100   ;
  }

  .select-content {
    @apply bg-dark-300 text-light-100 border-dark-100   ;
  }

  .select-item {
    @apply focus:bg-dark-600 focus:text-light-100   ;
  }

  /* Auth */
  .auth-container {
    @apply relative flex flex-col-reverse text-light-100 sm:flex-row;
  }

  .auth-form {
    @apply my-auto h-full min-h-screen flex-col flex-1 items-center bg-pattern bg-cover bg-top bg-dark-100 px-5 py-10;
  }

  .auth-box {
    @apply  mx-auto flex max-w-xl flex-col gap-6 rounded-lg p-10;
  }

  .auth-illustration {
    @apply sticky h-40 w-full sm:top-0 sm:h-screen sm:flex-1;
  }

  /* Root */
  .root-container {
    @apply flex min-h-screen flex-1 flex-col bg-pattern bg-cover bg-top bg-dark-100 px-5  md:px-16;
  }

  /* Book Details */
  .book-details {
    @apply lg:mt-36 mt-16 mb-20 flex flex-col gap-16 lg:flex-row;
  }

  .book-details h3 {
    @apply text-xl font-semibold text-primary;
  }

  /* Library */
  .library {
    @apply mx-auto flex max-w-xl w-full flex-col text-center;
  }

  .library-subtitle {
    @apply text-lg font-semibold uppercase text-light-100;
  }

  .library-title {
    @apply mt-2 text-3xl font-semibold text-white;
  }

}